#quick-cart {
    bottom: 20px;
    padding-bottom: 60px;
    position: fixed;
    right: 10px;
    top: auto !important;
    z-index: 3000
}
#quick-cart #quick-cart-pay {
    font-size: 100%;
    line-height: 123.07692%;
    font-family: "robotoblack", sans-serif;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-transform: rotate(70deg);
    -ms-transform: rotate(70deg);
    -webkit-transform: rotate(70deg);
    transform: rotate(70deg);
    border: 2px solid #086fcf;
    bottom: 0;
    cursor: pointer;
    display: block;
    position: absolute;
    text-decoration: none;
    right: -100px
}
#quick-cart #quick-cart-pay>span {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #086fcf;
    border: 2px solid #fff;
    color: #fff;
    display: block;
    height: 56px;
    padding-top: 15px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 56px
}
#quick-cart #quick-cart-pay.open {
    -moz-animation: quick_cart_pay_show 1s ease-in-out forwards;
    -webkit-animation: quick_cart_pay_show 1s ease-in-out forwards;
    animation: quick_cart_pay_show 1s ease-in-out forwards
}
#quick-cart #quick-cart-pay.cart-ico strong {
    display: none
}
#quick-cart #quick-cart-pay.cart-ico>span {
    background: #086fcf url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjxzdmcgd2lkdGg9IjE5cHgiIGhlaWdodD0iMThweCIgdmlld0JveD0iMCAwIDE5IDE4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zOnNrZXRjaD0iaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoL25zIj4KICAgIDxnIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKC02ODYuMDAwMDAwLCAtNDUwLjAwMDAwMCkiIGZpbGw9IiNGRkZGRkYiPgogICAgICAgICAgICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2NjAuMDAwMDAwLCAxNjUuMDAwMDAwKSI+CiAgICAgICAgICAgICAgICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwLjAwMDAwMCwgMjY5LjAwMDAwMCkiPgogICAgICAgICAgICAgICAgICAgIDxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDI2LjAwMDAwMCwgMTYuMDAwMDAwKSI+CiAgICAgICAgICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik0xNi43NjU0Nzg0LDQuMjc1IEwxNS44NzU4NzQ5LDguNTkzMzYwNzEgTDQuNjk5ODQwNTksOS43MjQwOTgyMSBMMy40NzM5MDMwNCw0LjI3NSBMMTYuNzY1NDc4NCw0LjI3NSBaIE0xNi44MDQ1NDYzLDkuNzI4MDY3ODYgTDE4LjY3MzcyNTEsMy4wNTM1NzE0MyBMMy4xOTkxNTIwNywzLjA1MzU3MTQzIEwyLjUxMjI3NDYzLDAgTDMuMjYzMDc1NzJlLTA1LDAgTDMuMjYzMDc1NzJlLTA1LDEuMjIxNDI4NTcgTDEuNDUzMDgwMjUsMS4yMjE0Mjg1NyBMNC4wNjM1NDA4MywxMi44MjUgTDE2Ljk2ODAyNjQsMTIuODI1IEwxNi45NjgwMjY0LDExLjYwMzU3MTQgTDUuMTIyNzM1MjEsMTEuNjAzNTcxNCBMNC45NzAwMjMyNiwxMC45MjUzNzMyIEwxNi44MDQ1NDYzLDkuNzI4MDY3ODYgWiI+PC9wYXRoPgogICAgICAgICAgICAgICAgICAgICAgICA8cGF0aCBkPSJNNy44MzEzODE3MywxNS4yNjc4NTcxIEM3LjgzMTM4MTczLDE2LjI3OTgxMDcgNi45NTQ5MTk1OSwxNy4xIDUuODczNTM2MywxNy4xIEM0Ljc5MjE1MzAxLDE3LjEgMy45MTU2OTA4NywxNi4yNzk4MTA3IDMuOTE1NjkwODcsMTUuMjY3ODU3MSBDMy45MTU2OTA4NywxNC4yNTU5MDM2IDQuNzkyMTUzMDEsMTMuNDM1NzE0MyA1Ljg3MzUzNjMsMTMuNDM1NzE0MyBDNi45NTQ5MTk1OSwxMy40MzU3MTQzIDcuODMxMzgxNzMsMTQuMjU1OTAzNiA3LjgzMTM4MTczLDE1LjI2Nzg1NzEiPjwvcGF0aD4KICAgICAgICAgICAgICAgICAgICAgICAgPHBhdGggZD0iTTE1LjY2Mjc2MzUsMTUuMjY3ODU3MSBDMTUuNjYyNzYzNSwxNi4yNzk4MTA3IDE0Ljc4NjMwMTMsMTcuMSAxMy43MDQ5MTgsMTcuMSBDMTIuNjIzNTM0NywxNy4xIDExLjc0NzA3MjYsMTYuMjc5ODEwNyAxMS43NDcwNzI2LDE1LjI2Nzg1NzEgQzExLjc0NzA3MjYsMTQuMjU1OTAzNiAxMi42MjM1MzQ3LDEzLjQzNTcxNDMgMTMuNzA0OTE4LDEzLjQzNTcxNDMgQzE0Ljc4NjMwMTMsMTMuNDM1NzE0MyAxNS42NjI3NjM1LDE0LjI1NTkwMzYgMTUuNjYyNzYzNSwxNS4yNjc4NTcxIj48L3BhdGg+CiAgICAgICAgICAgICAgICAgICAgPC9nPgogICAgICAgICAgICAgICAgPC9nPgogICAgICAgICAgICA8L2c+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4=') no-repeat center 9px
}
#quick-cart #quick-cart-pay:hover {
    border-color: #0084ff
}
#quick-cart #quick-cart-pay:hover>span {
    background-color: #0084ff
}
#quick-cart #quick-cart-pay #quick-cart-price {
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-family: "robotobold", sans-serif;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 11px;
    background-color: #16161a;
    bottom: -4px;
    display: block;
    height: 21px;
    left: 50%;
    padding: 2px 8px 0;
    position: absolute
}
#quick-cart #quick-cart-pay #quick-cart-pay-total-count {
    display: none
}
#quick-cart .quick-cart-product {
    margin-bottom: 6px
}
.quick-cart-product>div,
#quick-cart-pay {
    -moz-box-shadow: rgba(0, 0, 0, 0.23) 0 6px 13px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.23) 0 6px 13px 0;
    box-shadow: rgba(0, 0, 0, 0.23) 0 6px 13px 0
}
.quick-cart-product {
    position: relative
}
.quick-cart-product>div {
    -moz-transition: all 1s ease-in-out 0s;
    -o-transition: all 1s ease-in-out 0s;
    -webkit-transition: all 1s ease-in-out;
    -webkit-transition-delay: 0s;
    transition: all 1s ease-in-out 0s;
    overflow: hidden;
    position: relative
}
.quick-cart-product>div .s1,
.quick-cart-product>div .s2 {
    font-family: "robotobold", sans-serif;
    font-size: 100%;
    line-height: 107.69231%;
    background-color: rgba(22, 22, 26, 0.5);
    bottom: 0;
    color: #fff;
    cursor: default;
    display: none;
    height: 100%;
    left: 0;
    padding-top: 23px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10
}
.quick-cart-product>div del {
    display: none
}
#quick-cart .quick-cart-product>div,
.quick-cart-product.run>div {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 60px !important;
    width: 60px !important
}
#quick-cart .quick-cart-product>div .s1,
.quick-cart-product.run>div .s1 {
    display: block
}
#quick-cart .quick-cart-product>div img,
.quick-cart-product.run>div img {
    width: 100%
}
#quick-cart .quick-cart-product>div:hover span.s1,
.quick-cart-product.run>div:hover span.s1 {
    display: none
}
#quick-cart .quick-cart-product>div:hover span.s2,
.quick-cart-product.run>div:hover span.s2 {
    display: block
}
.quick-cart-product.run>div {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 58px !important;
    width: 58px !important
}
#quick-cart .quick-cart-product>div .s1,
#quick-cart .quick-cart-product>div .s2 {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%
}
.quick-cart-product.animated {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 2000
}
.quick-cart-product.animated img {
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    display: block;
    position: relative;
    z-index: 1
}
.quick-cart-product .remove,
.quick-cart-product .removeall,
.quick-cart-product .count {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-family: "robotobold", sans-serif;
    font-size: 76.92308%;
    line-height: 110.0%;
    background-color: #16161a;
    color: #fff;
    display: block;
    height: 20px;
    overflow: hidden;
    padding-top: 4px;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    width: 20px;
    z-index: 100
}
.quick-cart-product .hide {
    display: none
}
.quick-cart-product .remove {
    background: #16161a url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjxzdmcgd2lkdGg9IjhweCIgaGVpZ2h0PSI4cHgiIHZpZXdCb3g9IjAgMCA4IDgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeG1sbnM6c2tldGNoPSJodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2gvbnMiPgogICAgPGcgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTEyMTYuMDAwMDAwLCAtMTg5MS4wMDAwMDApIiBmaWxsPSIjRkZGRkZGIj4KICAgICAgICAgICAgPGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTE0OC4wMDAwMDAsIDE4ODUuMDAwMDAwKSI+CiAgICAgICAgICAgICAgICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2Mi4wMDAwMDAsIDAuMDAwMDAwKSI+CiAgICAgICAgICAgICAgICAgICAgPHBhdGggZD0iTTcuMTQyNjgzOTcsNiBMNiw3LjE0MjY4Mzk3IEw4Ljg1NzExNCw5Ljk5OTc5Nzk3IEw2LDEyLjg1NzMxNiBMNy4xNDI2ODM5NywxNCBMOS45OTk3OTc5NywxMS4xNDI4ODYgTDEyLjg1NzMxNiwxNCBMMTQsMTIuODU3MzE2IEwxMS4xNDI0ODE5LDkuOTk5Nzk3OTcgTDE0LDcuMTQyNjgzOTcgTDEyLjg1NzMxNiw2IEw5Ljk5OTc5Nzk3LDguODU3MTE0IEw3LjE0MjY4Mzk3LDYgTDcuMTQyNjgzOTcsNiBaIj48L3BhdGg+CiAgICAgICAgICAgICAgICA8L2c+CiAgICAgICAgICAgIDwvZz4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPg==') no-repeat center center;
    cursor: pointer;
    display: none;
    left: 0;
    right: auto
}
.quick-cart-product .remove:hover {
    background-color: #086fcf
}
.quick-cart-product:hover .remove {
    display: block
}
.quick-cart-product.remove-product {
    -moz-animation: quick_cart_pay_hide 200ms ease-in-out forwards;
    -webkit-animation: quick_cart_pay_hide 200ms ease-in-out forwards;
    animation: quick_cart_pay_hide 200ms ease-in-out forwards
}
.quick-cart-product .removeall {
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    display: none;
    left: -56px;
    padding: 4px 7px 0;
    right: auto;
    width: auto
}
.quick-cart-product .removeall:hover {
    background-color: #086fcf
}
.quick-cart-product.show-remove-all:hover .removeall {
    display: block
}



.cubic-btn {
  width: 10px;
  height: 10px;
  background-color: red;
  position: absolute;
}
